@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'roboto', sans-serif;
}

.header img {
    width: 100px;
    padding: 16px;
}
ul {
    list-style: none;
}
    
a {
    text-decoration: none;
    color: #e5e7eb;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
}

.right .links {
    display: flex;
    gap: 12px;
    padding: 0;
    align-items: flex-start;
    margin: 8px 16px;
}

.section-one {
    display: flex;
    background-color: #1f2937;
    padding: 100px;
    justify-content: center;
    
}

.left-one {
    display: flex;
    flex-flow: column wrap;
    width: 600px;
    padding-right: 48px;
}

.left-one h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.left-one p {
    color: #e5e7eb;
    font-size: 18px;
}

.left-one button {
    width: 200px;
    background-color: #3882f6;
    padding: 16px;
    border-radius: 16px;
    color: #e5e7eb;
    font-size: 16px;
}

.right-one {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: slategray;
    width: 600px;
}