@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'roboto', sans-serif;
}

.header img {
    width: 100px;
    padding: 16px;
}
ul {
    list-style: none;
}
    
a {
    text-decoration: none;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
}

.right .links {
    display: flex;
    gap: 12px;
    padding: 0;
    align-items: flex-start;
    margin: 8px 16px;
}